*{
    margin:0;
    padding:0;
}

header{
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tablecontainer{
    display: flex;
    justify-content: center;
}

/* main{
    display: flex;
} */

table{
    border-collapse: collapse;
    border-spacing: 0;
    width:99%;
    border : 2px solid #ddd;
}
thead{
    border-bottom: 2px solid #ddd;
}
th,td{
    text-align: center;
    padding: 8px;
    border:1px solid #ddd;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}